@media (min-width: 40rem) {
    .article-preview {
        grid-template-columns: 1fr 1.6fr;
        grid-template-rows: auto;
    }

    .article-preview section {
      padding-bottom: 0;
    }

    .article-preview footer {
      padding-bottom: 2rem;
    }

    article header {
      height: 100%;
    }

    header img {
      height: 100%;
      object-fit: cover;
      object-position: left;
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    .share-links {
      bottom: 100%;
      top: auto;
      right: 0;
      left: auto;
      width: auto;
      padding: .9rem 1.8rem;
      margin-bottom: .4rem;
      border-radius: .4rem;

      transform: translateX(calc(50% - var(--padding-side) - var(--btn-side) / 2));

    }

    .share-links::after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: hsl(var(--clr-neutral-700)) transparent transparent transparent;
    }

    h1 {
      letter-spacing: 0.02rem;
      font-size: 1.3rem;
      line-height: 1.3;
    }
}
