:root {
    /* colors */
    --clr-neutral-100: hsl(0, 100%, 100%);
    --clr-neutral-200: hsl(210, 46%, 95%);
    --clr-neutral-400: hsl(212, 23%, 69%);
    --clr-neutral-600: hsl(214, 17%, 51%);
    --clr-neutral-700: hsl(217, 19%, 35%);
    

    /* fonts */
    --ff-primary: "Manrope", sans-serif;
    --fs-primary: 13px;
    --fw-normal: 500;
    --fw-bold: 700;

    /* other */
    --border-radius: 8px;
}

.flex {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

/* main styles */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    font-weight: var(--fw-normal);
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-600);
    line-height: 1.6;

    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-preview {
    width: 85%;
    max-width: 52rem;
    margin: 0 auto;

    background-color: var(--clr-neutral-100);
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 20px hsla(var(--clr-neutral-400), .3);
    
    display: grid;
    grid-template-rows: auto 1fr;
}

.article-preview section {
    padding: 2rem;
    padding-bottom: 1rem;
}

/* image (header) */

article header {
    height: 12rem;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

figure img {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
}

/* text content */

h1 {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    margin-bottom: .5rem;
    color: var(--clr-neutral-700);
}

/* article footer */

article footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: 1rem 2rem;

    --padding-side: 2rem;
    --btn-side: 2.2rem;
}

    /* author */

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.name {
    line-height: 1.5;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-700);
}

time {
    letter-spacing: 1px;
}

    /* links */

.share-links {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;

    display: flex;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease-in-out; 

    width: 100%;
    padding-left: var(--padding-side);
    font-size: .7rem;
    font-weight: lighter;
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-100);
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

ul {
    padding-left: 1rem;
    list-style: none;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.share-links a img:hover {
    transform: scale(1.1);
}

    /* button */

.share-btn {
    cursor: pointer;
    width: var(--btn-side);
    height: var(--btn-side);
    border-radius: 50%;
    background-color: var(--clr-neutral-200);
    border: 0;
    z-index: 100;
}

.share-btn:hover, .share-btn:focus {
    background-color: var(--clr-neutral-600);
}

.share-btn img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.share-btn:hover img, .share-btn:focus img {
    filter: brightness(100);
}

.share-btn:active {
    transform: scale(0.9);
}

/* attribution */

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 2rem;
  }

.attribution a, .attribution a:visited {
    color: var(--Desaturated-Dark-Blue);
}
