:root {
    /* color */
    --red: 0, 78%, 62%;
    --cyan: 180, 62%, 55%;
    --orange: 34, 97%, 64%;
    --blue: 212, 86%, 64%;
    --very-dark-blue: 234, 12%, 34%;
    --grayish-blue: 229, 6%, 66%;
    --very-light-gray: 0, 0%, 98%;

    /* font */
    --ff-primary: "Poppins", sans-serif;
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-extralight: 200;
    --fs-primary: 15px;

    /* other */
    --gap: 1rem;
    --border-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    font-weight: var(--fw-normal);
    background-color: hsl(var(--very-light-gray));
    color: hsl(var(--grayish-blue));
    padding: 4rem 2rem 3rem 2rem;
    line-height: 1.7;
}

h1, h2 {
    color: hsl(var(--very-dark-blue));
    line-height: 1.4;
    font-weight: var(--fw-semibold);
}

h2 {
    margin-bottom: 0.5rem;
}

.intro-text {
    text-align: center;
    margin-bottom: 4rem;
}

.intro-text h1 {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 1.2rem + 1vw, 2rem);
}

.intro-text h1 span {
    display: block;
    color: hsl(var(--grayish-blue));
    font-weight: var(--fw-extralight);
}

.card {
    width: 90%;
    min-height: 15rem;
    margin: 1.5rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    border-top: 4px solid black;
    box-shadow: 0 10px 10px hsla(var(--grayish-blue), 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.one {
    border-color: hsl(var(--cyan));
}

.two {
    border-color: hsl(var(--red));
}

.three {
    border-color: hsl(var(--orange));
}

.four {
    border-color: hsl(var(--blue));
}

.card img {
    width: 4rem;
    height: 4rem;
    align-self: flex-end;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1em 1em 0 1em;
    margin-top: 1rem;
    height: 1rem;
}

.attribution a, .attribution a:visited {
    color: hsl(var(--very-dark-blue));
}

@media (min-width: 750px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 25rem;
    }

    .intro-text {
        width: 50%;
        margin: 0 auto 2rem auto;
    }
}
